@font-face {
    font-family: 'Kelson Sans';
    src: url('fonts/Kelson Sans Light BG.otf');
    src: url('fonts/Kelson Sans Light.otf');
    src: url('fonts/Kelson Sans Regular.otf');
}
body{
    font-family: 'Kelson Sans';
    background-image: url("images/bg1.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    margin:0;
}


html{
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
   
}
.page-wrap:after {
  content: "";
  display: none;
}
.site-footer, .page-wrap:after {
  height: 50px; 
}
.site-footer {
  background: #ababb3;
    opacity: 0.5;
    position: relative;   
  bottom: 0px;
  width: 100%;
}
.site-footer h1{
  text-align: center;
  color: white;
  height: 100%;
  margin: 0px;
}




    
#header .top{
	display: inline;
	float: left;
}


#footer{
	width: 100%;
	left:0;
	height: 80px;
	background-color: black;
	opacity: 0.2;
	float: bottom;
	bottom: 7px;
	position: fixed;
}

#main{
	text-align: center;
}
 @media only screen and (min-width : 320px) {
.text-row{
	font-size: 4em;
}
	.text-row1{
	font-size: 2em;
	margin-bottom:0px; 
	text-shadow: 2px 2px 12px white;
	}

	.text-row2{
	margin-top: 0px;
	margin-bottom: 0px;
    font-size: 1.46em;
    color: #c11418;
    text-shadow: 2px 2px 12px white;
	}

	.text-row3{
		margin-top: 0px;
		font-size:1.88em;
		text-shadow: 2px 2px 12px white;
	}

	.button{
		color: white;
		font-size: 21px;
		border-style: solid;
         border-width: 3px;
         border-radius: 20px;
         width: 290px;
         margin-left: auto;
         margin-right: auto;
         /* offset-x | offset-y | blur-radius | color */
          box-shadow: 0px 0px 21px #888888;
		    
	}

    .button h2{
       text-shadow: 0px 0px 18px #000;
    }

    #socialIcons{
    margin-top: 10px;
    height: 50px;
    position: relative; 
    bottom: 14%;
  }
	

}
  @media only screen and (max-width : 768px) {
  	body{
  		background-image: url("images/bg1_mobile.jpg")!important;
  	}
  	
  	}


  	@hamburger-menu-size: 60px;
@hamburger-menu-border-radius: .12em;
@hamburger-menu-bg-color: fade(#2196F3,
75%);
@hamburger-menu-line-height: 2px;
@hover-line-height: @hamburger-menu-line-height;
@hover-color: darken(@main-color,
10%);
@content-bg-color: fade(#2962FF,
97%);
@main-color: #FEFEFE;
@anim-duration: .4s;
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

.outer-menu {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 1;
  .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: @hamburger-menu-size;
    height: @hamburger-menu-size;
    opacity: 0;
    &:checked {
      & + .hamburger {
        > div {
          transform: rotate(135deg);
          &:before, &:after {
            top: 0;
            transform: rotate(90deg);
          }
          &:after {
            opacity: 0;
          }
        }
      }
      & ~ .menu  {
        pointer-events: auto;
        > div {
        width: 200vw;
        height: 200vw;
        > div {
          opacity: 1;
          transition: opacity @anim-duration ease @anim-duration;
        }
      }
      }
    }
    &:hover + .hamburger {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    }
    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }
  }
  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: @hamburger-menu-size;
    height: @hamburger-menu-size;
    padding: .5em 1em;
    background: @hamburger-menu-bg-color;
    border-radius: 0 @hamburger-menu-border-radius @hamburger-menu-border-radius 0;
    cursor: pointer;
    transition: box-shadow @anim-duration ease;
    backface-visibility: hidden;
    .flex-center;
    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: @hamburger-menu-line-height;
      background: @main-color;
      transition: all @anim-duration ease;
      .flex-center;
      &:before, &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -@hamburger-menu-size / 6;
        left: 0;
        width: 100%;
        height: @hamburger-menu-line-height;
        background: inherit;
        transition: all @anim-duration ease;
      }
      &:after {
        top: @hamburger-menu-size / 6;
      }
    }
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    .flex-center;
    > div {
      width: 0;
      height: 0;
      color: @main-color;
      background: @content-bg-color;
      border-radius: 50%;
      transition: all @anim-duration ease;
      flex: none;
      .flex-center;
      > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity @anim-duration ease;
        overflow-y: auto;
        flex: none;
        .flex-center;
        > ul {
          list-style: none;
          padding: 0 1em;
          margin: 0;
          display: block;
          max-height: 100vh;
          > li {
            padding: 0;
            margin: 1em;
            font-size: 24px;
            display: block;
            > a {
              position: relative;
              display: inline;
              cursor: pointer;
              transition: color @anim-duration ease;
              &:hover {
                color: @hover-color;
                &:after {
                  width: 100%;
                }
              }
              &:after {
                content: '';
                position: absolute;
                z-index: 1;
                bottom: -.15em;
                left: 0;
                width: 0;
                height: @hover-line-height;
                background: @hover-color;
                transition: width @anim-duration ease;
              }
            }
          }
        }
      }
    }
  }
}